Código CSS visual de telas


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, #0073e6, #00b3b3);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background: #fff;
  border-radius: 20px;
  padding: 40px;
  width: 320px;
  text-align: center;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.logo {
  width: 120px;
  margin-bottom: 10px;
}

h2 {
  color: #333;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  background-color: #07f32e;
  color: #fff;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #005bb5;
}

.link {
  margin-top: 15px;
  font-size: 0.9em;
}

.link a {
  color: #0073e6;
  text-decoration: none;
}

.tabs {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.tabs button {
  flex: 1;
  margin: 0 5px;
  border-radius: 8px;
}

.active {
  background: #0073e6 !important;
  color: white;
}

.hidden {
  display: none;
}

.google-login {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
}

.google-login:hover {
  background: #f8f8f8;
}

.google-icon {
  width: 20px;
  margin-right: 8px;
}
